
body{
    background-color: rgba(0, 0, 0, 0.628);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.todo-container{
    width: 400px;
    min-height: 400px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    
}
.todo-header{
    display: flex;
    justify-content: center;
}

.todo-items{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 20px;
}

.todo-button{
    width:100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 22px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(74, 121, 196);
}

.todo-name{
    padding:  10px;
}